*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color:white ;
}
body{
    background-color: black;
    padding-top: 80px;
}
h1{
    text-align: center;
    margin: 30px 0px;
}
img{
width: 320px;
height: 340px;
object-fit: cover;
}
header{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15%;
    height: 70px;
    top: 0;
    position: fixed;
    width: 100%;
}
.carrito{
   width: 45px;
}
.contenedor{
display: flex;
justify-content: center;
gap: 50px;
margin-bottom: 20px;
}
