
body{
    background: white;
    height: 100%;
    margin: 0;
}
h1{
    text-align: center;
    color: black;
    font-size: 28px;
    
}
.container{
    width: 500px;
    padding: 20px;
    margin: auto;
    font-size: 22px;
}

input[type="mail"], button {
    width: 100%;
    padding: 10px;
    border-radius: 2px;
    box-sizing: border-box;
    border: 1px solid grey;
    margin-top: 5px;
}
button{
    background-color: lightseagreen;
}
.formbutton{
    margin: 0%;
}
form{
    width: 500px;
    padding: 20px;
    border: 1px solid grey;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}